In [1]:
import pandas as pd
import numpy as np

In [4]:
train_df = pd.read_csv('C:/Users/aydin/Desktop/data/train.csv')

In [5]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [21]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 66.2+ KB

##### 1. Kazada ölenlerin yaş ortalamasını bulunuz.

In [7]:
dead_passengers = train_df[train_df['Survived'] == 0]

average_age_of_dead = dead_passengers['Age'].mean()

print(f"Kazada ölenlerin yaş ortalaması: {average_age_of_dead:.2f}")

Kazada ölenlerin yaş ortalaması: 30.63

##### 2. Kazada ölenlerin bilet fiyatlarının ortalamasını ve medyanını bulunuz.

In [9]:

dead_passengers = train_df[train_df['Survived'] == 0]

average_fare_of_dead = dead_passengers['Fare'].mean()
median_fare_of_dead = dead_passengers['Fare'].median()

print(f"Kazada ölenlerin bilet fiyatlarının ortalaması: {average_fare_of_dead:.2f}")
print(f"Kazada ölenlerin bilet fiyatlarının medyanı: {median_fare_of_dead:.2f}")

Kazada ölenlerin bilet fiyatlarının ortalaması: 22.12
Kazada ölenlerin bilet fiyatlarının medyanı: 10.50

##### 3. Kazada ölen erkeklerin yaş ortalamasını bulunuz.

In [11]:
dead_males = train_df[(train_df['Survived'] == 0) & (train_df['Sex'] == 'male')] 

average_age_of_dead_males = dead_males['Age'].mean()

print(f"Kazada ölen erkeklerin yaş ortalaması: {average_age_of_dead_males:.2f}")

Kazada ölen erkeklerin yaş ortalaması: 31.62

##### 4. Kazada ölen Kadınların yaş ortalamasını bulunuz.

In [12]:
dead_females = train_df[(train_df['Survived'] == 0) & (train_df['Sex'] == 'female')]

average_age_of_dead_females = dead_females['Age'].mean()

print(f"Kazada ölen kadınların yaş ortalaması: {average_age_of_dead_females:.2f}")

Kazada ölen kadınların yaş ortalaması: 25.05

##### 5. Kazadan kurtulanların yaş ortalamasını bulunuz.

In [13]:
survived_passengers = train_df[train_df['Survived'] == 1]

average_age_of_survived = survived_passengers['Age'].mean()

print(f"Kazadan kurtulanların yaş ortalaması: {average_age_of_survived:.2f}")

Kazadan kurtulanların yaş ortalaması: 28.34

##### 6. Kazadan kurtulanların bilet fiyatlarının ortalamasını bulunuz.

In [15]:
survived_passengers = train_df[train_df['Survived'] == 1]

average_fare_of_survived = survived_passengers['Fare'].mean()

print(f"Kazadan kurtulanların bilet fiyatlarının ortalaması: {average_fare_of_survived:.2f}")

Kazadan kurtulanların bilet fiyatlarının ortalaması: 48.40

#### 7. Kazadan kurtulan toplam kişi sayısını bulunuz.

In [16]:
total_survived_count = len(train_df[train_df['Survived'] == 1])

print(f"Kazadan kurtulan toplam kişi sayısı: {total_survived_count}")

Kazadan kurtulan toplam kişi sayısı: 342

##### 8. 10 yaşından küçüklerin bilet fiyatlarının medyan değerini bulunuz.

In [18]:
children_under_10 = train_df[train_df['Age'] < 10]


median_fare_children_under_10 = children_under_10['Fare'].median()

print(f"10 yaşından küçüklerin bilet fiyatlarının medyan değeri: {median_fare_children_under_10:.2f}")

10 yaşından küçüklerin bilet fiyatlarının medyan değeri: 27.00

##### 9. 1.sınıf, 2.sınıf ve 3.sınıf bilet fiyatlarının ortalama ve medyanlarını karşılaştırınız.

In [19]:
fare_by_pclass = train_df.groupby('Pclass')['Fare'].agg(['mean', 'median'])

print("\n9- Pclass'a göre bilet fiyatlarının ortalama ve medyanları:")
print(fare_by_pclass)

9- Pclass'a göre bilet fiyatlarının ortalama ve medyanları:
             mean   median
Pclass
1       84.154687  60.2875
2       20.662183  14.2500
3       13.675550   8.0500

##### 10. Kazada ölen kadınların oranı ile erkeklerin oranını karşılaştırınız.

In [20]:
total_males = len(train_df[train_df['Sex'] == 'male'])
total_females = len(train_df[train_df['Sex'] == 'female'])


dead_males_count = len(train_df[(train_df['Survived'] == 0) & (train_df['Sex'] == 'male')])
dead_females_count = len(train_df[(train_df['Survived'] == 0) & (train_df['Sex'] == 'female')])


death_rate_males = dead_males_count / total_males
death_rate_females = dead_females_count / total_females

print(f"\n10- Kazada ölen erkeklerin oranı: {death_rate_males:.2%}")
print(f"    Kazada ölen kadınların oranı: {death_rate_females:.2%}")

10- Kazada ölen erkeklerin oranı: 81.11%
    Kazada ölen kadınların oranı: 25.80%